<!--The content below is only a placeholder and can be replaced.-->

<generic-component-child [data]="info">
</generic-component-child>
<generic-component-parent [data]="info"></generic-component-parent>


